# ==================================
# APPLICATION CONFIGURATION
# ==================================
APP_NAME='Blue Print NestJs Postgre Sql'
APP_PREFIX="api"
APP_PORT="3003"
APP_MODE="development"            # harus sesuai dengan file environment.enum.ts
APP_FILESYSTEM_DRIVER="local"     # harus sesuai dengan file file-driver.enum.ts
APP_ROOT_FOLDER=${APP_NAME}
APP_DEFAULT_ADMIN_EMAIL="admin@admin.com"
APP_DEFAULT_ADMIN_PASSWORD=""


# ==================================
# DATABASE CONFIGURATION
# ==================================
DB_CONNECTION=""
DB_HOST=""
DB_PORT=""
DB_NAME=""
DB_URI=""
DB_PASSWORD=""
DB_USERNAME=""


# ==================================
# JWT CONFIGURATION
# ==================================
JWT_ALGORITHM="RS256"
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
JWT_EXPIRED_TOKEN="7d"


# ==================================
# S3 CONFIGURATION
# ==================================
S3_ID=""
S3_BUCKET=""
S3_REGION=""
S3_SECRET=""
S3_URL=""


# ==================================
# CLOUDINARY CONFIGURATION
# ==================================
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""


# ==================================
# EMAIL ENGINE CONFIGURATION
# ==================================
MAIL_HOST=""
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""
MAIL_PASSWORD=""
MAIL_USERNAME=""